/* Global styles */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f8fd;
}

/* Navbar Styles */
.navbar {
    background: transparent;
    padding: 20px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    transition: background-color 0.3s ease, backdrop-filter 0.3s ease, transform 0.3s ease;

}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar .logo img {
    height: 55px;
    margin-left: -30px;
}


.navbar .navbar-nav {
    display: flex;
    /* Flexbox for horizontal layout */
    list-style: none;
    /* Remove bullet points */
    gap: 20px;
    /* Space between items */
    margin: 0 auto;
    /* Center the menu */
    flex-grow: 1;
    /* Allow the menu to grow and fill space */
    justify-content: center;
    /* Center items horizontally */
}

.navbar .menu {
    display: flex;
    justify-content: center;
    /* Mengatur horizontal rata tengah */
    align-items: center;
    /* Mengatur vertikal rata tengah */
    flex-grow: 1;
    margin-bottom: -20px;
    /* Membuat menu mengisi ruang di antara logo dan tombol */
}


.navbar .menu ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.navbar-light .navbar-nav .nav-link {
    color: #333;
}

.navbar-light .navbar-nav .nav-link:hover {
    font-weight: bold;
    color: #2447f9;
}

.navbar .menu ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

.navbar .btn-container {
    display: flex;
    align-items: center;
}

.navbar .btn-primary {
    background-color: #2447f9;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.btn-primary:hover {
    box-shadow: 0 0 0 .25rem #0d6efd40 !important;
    transition: all .4s;
}

.navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.8);
    /* Background dengan transparansi */
    backdrop-filter: blur(10px);
    /* Efek blur */
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    /* Efek bayangan */
}

@media(max-width: 991px) {
    .navbar .navbar-nav {
        margin-top: 10px;
        gap: 5px;
        background-color: rgba(255, 255, 255, 0.8);
        /* Background dengan transparansi */
        backdrop-filter: blur(10px);
    }

    .logo img {
        margin-left: 0 !important;
    }


}

@media(max-width: 360px) {


    .logo img {
        margin-left: -7px !important;
        width: 90%;
    }

}

// END NAVBAR

// ** SECTION HEADER **//
/* Header Content Styles */
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 0;
    /* Adjust this padding to control spacing */
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 50px;
}

.header-content .left-content {
    max-width: 50%;
}

.header-content h1 {
    font-size: 48px;
    font-weight: bold;
    color: #080C2E;
    margin-bottom: 20px;
}

.header-content p {
    font-size: 18px;
    margin-bottom: 40px;
}

.card-search {
    background-color: #f9f9f9;
    border-radius: 10px;
    display: flex;
    gap: 15px;
}

.card-search input,
.card-search select {
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #ccc;
    background: #fff;
    font-size: 16px;
}


.card-search .btn-primary {
    background-color: #2447f9;
    margin-top: 20px;
    border: none;
    font-weight: bold;
    border-radius: 20px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
}

.right-content img {
    max-width: 100%;
    width: 700px;
    height: auto;
    border-radius: 10px;
}


.extra-image {
    margin-top: 10px;
    /* Jarak antara card-search dan gambar */
    margin-left: -10px;
    text-align: center;
    /* Pusatkan gambar secara horizontal */
}

.extra-image img {
    max-width: 100%;
    /* Membuat gambar responsif */
    height: auto;
    border-radius: 10px;
    /* Menambahkan sudut membulat pada gambar */
}

.image-below-header {
    text-align: left;
    /* Center align the image */
    padding: 0 65px;
}

.image-below-header .search-image {
    max-width: 60%;
    /* Full width for responsive design */
    margin-top: -100px;
    height: auto;
    /* Maintain aspect ratio */
    border-radius: 10px;
    /* Optional: Add border radius */
}

@media (max-width: 991px) {

    /* Tablet and below */
    .header-content {
        flex-direction: column;
        /* Stack items vertically */
        padding: 50px 20px;
        /* Adjust padding for smaller screens */
        margin-top: 70px;
        /* Adjust margin */
    }

    .header-content .left-content {
        max-width: 100%;
        /* Full width */
        text-align: center;
        /* Center text for better appearance */
        margin-bottom: 20px;
        /* Space between left and right content */
    }

    .header-content h1 {
        font-size: 32px;
        /* Decrease font size */
        margin-bottom: 10px;
        /* Reduce bottom margin */
    }

    .header-content p {
        font-size: 16px;
        /* Decrease font size */
        margin-bottom: 20px;
        /* Reduce bottom margin */
    }

    .left-content {
        padding: 0 10px;
    }

    .card-search {
        flex-direction: column;
        /* Stack inputs vertically */
        gap: 10px;
        /* Reduce gap */
        width: 100%;
        /* Full width */
    }

    .card-search input,
    .card-search select {
        width: 100%;
        /* Full width inputs */
        margin-bottom: 10px;
    }

    .right-content img {
        width: 100%;
        /* Full width image */
        height: auto;
        /* Maintain aspect ratio */
    }

    .image-below-header {
        padding: 0 30px;
        /* Reduced padding for smaller screens */
    }

    .image-below-header .search-image {
        max-width: 100%;
        /* Wider for tablet screens */
        margin-top: -10px;
        /* Adjust margin for tablet */
    }

    .extra-image {
        padding: 0 10px;
    }
}

@media (max-width: 575px) {

    /* Mobile */
    .header-content {
        padding: 30px 15px;
        /* Adjust padding */
    }

    .header-content h1 {
        font-size: 28px;
        /* Further decrease font size */
    }

    .header-content p {
        font-size: 14px;
        /* Further decrease font size */
    }
}

// ** END SECTION HEADER **//



// ** START SECTION GREAT **//
// Great Project
/* Great Project Section Background */
.great-project-section {
    position: relative;
    // background-image: url('../images/bg-great-project.svg'); /* Set background image */
    // background-color: #000;
    background-size: cover;
    background-position: center;
    padding: 100px 0;
    text-align: center;
}

/* Title and Description */
.project-info {
    margin-bottom: 50px;
    text-align: left;
    padding: 0 70px;
}

.project-title {
    font-size: 42px;
    color: #080C2E;
    font-weight: bold;
}

.project-description {
    font-size: 20px;
    color: #333;
}

/* Card Container - Scrolling Effect */
.project-carousel {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-bottom: 30px;
}

.card-container {
    display: flex;
    justify-content: flex-start;
    animation: scroll-left 20s linear infinite;
    /* Horizontal Scrolling Animation */
    white-space: nowrap;
    /* Ensure cards stay in one row */
}

.card {
    position: relative;
    width: 300px;
    /* Set a fixed width for the card */
    margin: 0 20px;
    /* Margin between cards */
    background: #fff;
    /* Card background color */
    border: 2px solid transparent;
    /* Default transparent border */
    border-radius: 15px;
    /* Rounded corners */
    display: flex;
    /* Use flexbox for the card layout */
    overflow: hidden;
    /* Ensure content does not overflow */
    transition: transform 0.3s ease;
    /* Smooth transform */
    flex-shrink: 0;
    /* Prevent cards from shrinking */
}

.card-image {
    width: 100px;
    /* Set a fixed width for the image */
    height: auto;
    /* Maintain aspect ratio */
    padding: 10px;
    /* Padding around image */
    border-radius: 10px;
    /* Rounded corners for image */
}

.card-rating {
    margin: 5px 0 10px;
    /* Space around the rating section */
    color: #FFD700;
    /* Gold color for stars */
}

.card-rating i {
    margin-right: 5px;
    /* Space between each star */
    font-size: 16px;
    /* Set the star size */
}

.card-container {
    display: flex;
    justify-content: flex-start;
    animation: scroll-left 20s linear infinite;
    /* Horizontal Scrolling Animation */
    white-space: nowrap;
    /* Ensure cards stay in one row */
}

.card {
    position: relative;
    width: 300px;
    /* Set a fixed width for the card */
    margin: 0 20px;
    /* Margin between cards */
    background: #fff;
    /* Card background color */
    border: 2px solid transparent;
    /* Default transparent border */
    border-radius: 15px;
    /* Rounded corners */
    display: flex;
    /* Use flexbox for the card layout */
    overflow: hidden;
    /* Ensure content does not overflow */
    transition: transform 0.3s ease;
    /* Smooth transform */
    flex-shrink: 0;
    /* Prevent cards from shrinking */
}

.card-image {
    width: 100px;
    /* Set a fixed width for the image */
    height: auto;
    /* Maintain aspect ratio */
    padding: 10px;
    /* Padding around image */
    border-radius: 10px;
    /* Rounded corners for image */
}

.card-content {
    padding: 10px;
    /* Padding around text content */
    display: flex;
    /* Use flexbox for vertical alignment */
    flex-direction: column;
    /* Stack title and description vertically */
    justify-content: center;
    /* Center content vertically */
    flex-grow: 1;
    /* Allow the text content to take remaining space */
    text-align: left;
    margin: 0 5px;
}

.card-title {
    font-size: 18px;
    /* Font size for title */
    font-weight: bold;
    /* Make title bold */
    margin: 0;
    /* Remove default margin */
}

.card-description {
    font-size: 14px;
    /* Font size for description */
    margin: 5px 0 10px;
    /* Spacing around description */
}

.card:hover {
    border-color: #2447f9;
    transition: all .4s;
    /* Change border color on hover */
}

.view-details {
    display: none;
    /* Initially hide button */
    background-color: #2447f9;
    /* Button background color */
    color: white;
    /* Button text color */
    padding: 10px 20px;
    /* Padding for button */
    border: none;
    /* Remove border */
    border-radius: 25px;
    /* Rounded button */
    cursor: pointer;
    /* Pointer cursor on hover */
    transition: background-color 0.3s ease;
    /* Smooth background color transition */
    font-weight: bold;
    /* Make button text bold */
}

.view-details:hover {
    box-shadow: 0 0 0 .25rem #0d6efd40 !important;
    /* Button hover effect */
    transition: all .4s;
    /* Smooth transition */
}

.card:hover .view-details {
    display: block;
    /* Show button on card hover */
    margin-top: 10px;
    margin-bottom: 10px;

    /* Space above the button */
}

/* Horizontal Scrolling Animation */
@keyframes scroll-left {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

/* Second Row with Different Scroll Behavior (Reverse Scroll) */
.project-carousel.reverse .card-container {
    animation: scroll-right 25s linear infinite;
    /* Slower, opposite direction */
}

@keyframes scroll-right {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

/* Responsive adjustments for mobile */
@media (max-width: 768px) {
    .project-title {
        font-size: 28px;
    }

    .project-description {
        font-size: 16px;
    }

    .card {
        width: 250px;
    }

    .project-info {
        padding: 0 40px;
        margin-top: -50px;
    }
}

.project-carousel:hover .card-container {
    animation-play-state: paused;
    /* Pause the animation */
}

// ** END SECTION GREAT **//


// ** START SECTION EXPLORE CATEGORY  **//

.category-cars-section {
    padding: 0 70px;
    margin-top: -30px;
}

.explore-header-category {
    padding: 60px 0 50px;
    text-align: center;

}

.explore-header-category h1 {
    font-weight: bold;

}

.cars-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.car-card {
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: #fff;
    border: 2px solid transparent;
    padding: 15px;
    width: calc(33.333% - 20px);
    /* Agar ada 3 card per baris */
    box-sizing: border-box;
    // border: 2px solid transparent; /* Default transparent border */
}

.car-card:hover {
    border-color: #2447f9;
    /* Ganti warna border saat hover */
    transition: all .4s;
}


.car-image {
    width: 80px;
    /* Lebar gambar */
    height: auto;
    border-radius: 10px;
    margin-right: 15px;
}

.car-info {
    display: flex;
    flex-direction: column;
}

.car-title {
    margin: 0;
    font-weight: bold;
    font-size: 20px;
}

.car-description {
    margin-top: 5px;
    font-size: 14px;
    color: #666;
}


@media (max-width: 991px) {
    .car-card {
        width: calc(50% - 20px);
        /* Tampilkan 2 card per baris pada tablet */
    }

    .car-info {
        margin-bottom: -20px;
    }

    .car-image {
        width: 70px;
        /* Sesuaikan ukuran gambar pada tablet */
    }

    .car-title {
        font-size: 0.9em;
        /* Sesuaikan ukuran teks pada tablet */
        padding-bottom: 5px;
    }

    .car-description {
        margin-top: 0;
        font-size: 0.7em;
        /* Sesuaikan ukuran teks pada tablet */
    }
}

/* Responsif untuk Tablet (768px ke bawah) */
@media (max-width: 768px) {
    .category-cars-section {
        padding: 0 30px;
    }


    .cars-container {
        padding: 0 20px;
    }

    .car-card {
        width: calc(50% - 20px);
        /* Tampilkan 2 card per baris pada tablet */
        margin-top: -20px;
    }

    .car-info {
        margin-bottom: -20px;
    }

    .car-image {
        width: 70px;
        /* Sesuaikan ukuran gambar pada tablet */
    }

    .car-title {
        font-size: 0.9em;
        /* Sesuaikan ukuran teks pada tablet */
        padding-bottom: 5px;
    }

    .car-description {
        margin-top: 0;
        font-size: 0.7em;
        /* Sesuaikan ukuran teks pada tablet */
    }
}

/* Responsif untuk Mobile (480px ke bawah) */
@media (max-width: 480px) {
    .category-cars-section {
        padding: 0 15px;
    }

    .car-card {
        width: 100%;
        /* Tampilkan 1 card per baris pada mobile */
        margin-bottom: 20px;
        /* Beri ruang antar card */
    }

    .car-image {
        width: 60px;
        /* Sesuaikan ukuran gambar pada mobile */
    }

    .car-title {
        font-size: 0.85em;
        /* Sesuaikan ukuran teks pada mobile */
    }

    .car-description {
        font-size: 0.65em;
        /* Sesuaikan ukuran teks pada mobile */
    }
}

// ** END SECTION EXPLORE CATEGORY  **//



// ** START SECTION HOW IT WORKS  **//

/* General Styling */
/* General Styling */
.how-it-works {
    padding: 0 20px;
    padding-bottom: 80px;
}

.how-it-works-header {
    text-align: left;

}

.how-it-works-header h1 {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.how-it-works-header p {
    font-size: 1.2em;
    color: #666;
}

/* Container for the section */
.how-it-works-container {
    display: flex;
    justify-content: center;
    gap: 100px;
    /* Space between image and icons */
    align-items: flex-start;
    /* Align items at the top */
}

/* Image on the left */
.how-it-works-image {
    width: 400px;
    margin-left: -150px;
    height: auto;
}

/* Icons on the right */
.how-it-works-icons {
    display: flex;
    flex-direction: column;
    /* Stack the icons vertically */
    gap: 30px;
    /* Space between icon cards */
}

/* Individual icon section (icon + text) */
.icon-section {
    display: flex;
    align-items: center;
    gap: 20px;
    /* Space between icon and text */
}

/* Icon inside a circle */
.icon-card {
    width: 50px;
    height: 50px;
    background-color: #2447f9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.how-it-works-icon {
    width: 25px;
}

/* Title and description next to the icon */
.how-it-works-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    /* Align text to the left */
}

.how-it-works-title {
    font-size: 1.2em;
    margin: 0;
    font-weight: bold;
}

.how-it-works-desc {
    font-size: 0.9em;
    color: #666;
    margin: 5px 0 0;
}

@media (max-width: 991px) {
    .how-it-works-container {
        flex-direction: column;
        /* Stack image and icons vertically */
        align-items: center;
    }

    .how-it-works-image {
        width: 100%;
        /* Full width for image on smaller screens */
        max-width: 400px;
        margin-left: 0;
        margin-bottom: -50px;
    }


    .icon-section {
        flex-direction: column;
        /* Stack icon and text on small screens */
        align-items: center;
    }

    .how-it-works-text {
        text-align: center;
        /* Center text on small screens */
    }

    .how-it-works-header {
        text-align: center;
    }
}

/* Responsive design */
@media (max-width: 768px) {
    .how-it-works-container {
        flex-direction: column;
        /* Stack image and icons vertically */
        align-items: center;
    }

    .how-it-works-image {
        width: 100%;
        /* Full width for image on smaller screens */
        max-width: 400px;
        margin-left: 0;
        margin-bottom: -50px;
    }

    .how-it-works-header {
        padding: 0 20px;
        text-align: center;
    }

    .icon-section {
        flex-direction: column;
        /* Stack icon and text on small screens */
        align-items: center;
    }

    .how-it-works-text {
        text-align: center;
        /* Center text on small screens */
    }
}

// ** END SECTION HOW IT WORKS  **//



// ** START SECTION WHAT PEOPLE SAY  **//

/* Section background */
.people-say-car-reviews {
    background-image: url('../images/bg-testimony.svg');
    /* Replace with your image path */
    background-size: cover;
    background-position: center;
    padding: 60px 20px;
    color: white;
}

/* Title styling */
.people-say-title {
    font-size: 3rem;
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-bottom: 40px;
}

.people-say-desc {
    font-size: 20px;
    color: #333;
    text-align: center;
    margin-top: -20px;
    margin-bottom: 80px;
}


/* Scrollable car-review cards container */
.car-reviews-wrapper {
    display: flex;
    overflow-x: auto; /* Horizontal scroll jika diperlukan */
    background-color: #051334;
    backdrop-filter: blur(30px);
    padding: 50px;
    border-radius: 20px;
    gap: 20px;
    padding-bottom: 10px;
}

.car-reviews-wrapper::-webkit-scrollbar {
    // height: 8px;
    // background: rgba(255, 255, 255, 0.2); /* Styling the scrollbar track */
    display: none;
}

.car-reviews-wrapper::-webkit-scrollbar-thumb {
    background: #555;
    /* Styling the scrollbar handle */
    border-radius: 10px;
}

/* Individual car-review card styling */
.car-review-card {
    background: #fff;
    color: #000;
    width: 250px; /* Lebar tetap */
    min-width: 250px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    height: auto; /* Tinggi menyesuaikan dengan isi */
    transition: transform 0.3s, box-shadow 0.3s;
    animation: slide-left-right 5s linear infinite; /* Animasi gerak */

/* Animasi gerakan card */
@keyframes slide-left-right {
    0% {
        transform: translateX(0); /* Awal (posisi default) */
    }
    100% {
        transform: translateX(-100%); /* Gerak ke kiri sepenuhnya */
    }
}

}
.car-review-card:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    transform: translateY(-2px);
}

/* car-review cover image */
.car-review-cover {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* car-review title */
.car-review-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    margin-top: 30px;
}

/* car-review description with '...more' */
.car-review-description {
    font-size: 14px;
    color: #333;
    margin-bottom: 15px;
    /* Biarkan tinggi deskripsi menyesuaikan dengan teks */
    height: auto;
    overflow: visible; /* Pastikan tidak ada teks yang tersembunyi */
}

.card-rating-review {
    margin: 5px 0 10px;
    /* Space around the rating section */
    color: #FFD700;
    /* Gold color for stars */
    
}


/* car-review footer with author and category */
.car-review-footer {
    display: flex;
    align-items: center;
    margin-top: 0;
    /* Push footer to the bottom */
}

/* Author photo */
.author-photo {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

/* car-review category and author name */
.car-review-info {
    display: flex;
    flex-direction: column;
    margin-bottom: -20px;
    justify-content: center;
}

.car-review-category {
    margin-bottom: 0;
    font-size: 0.8rem;
    color: #555;
}

.author-name {
    font-size: 0.9rem;
    margin-bottom: 0;
    font-weight: bold;
    color: #333;
}

@media (max-width: 992px) {
    .people-say-title {
        font-size: 34px;
    }

    .people-say-desc {

        font-size: 18px;
    }
}

// ** END SECTION WHAT PEOPLE SAY  **//
